<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Introvert_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Introvert_Launcher.Properties.Settings>
      <setting name="ocapity" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="crosshair" serializeAs="String">
        <value>__default</value>
      </setting>
      <setting name="zIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="xIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="backcolor" serializeAs="String">
        <value>Black</value>
      </setting>
    </Introvert_Launcher.Properties.Settings>
  </userSettings>
</configuration>